.postContainer {
   padding-bottom: 10px;
   border-bottom: 8px solid var(--main-background);
   padding-right: 10px;
}
.postContainer > form {
   display: flex;
   flex-direction: column;
}
.postContainer_input {
   padding: 20px;
   display: flex;
}
.postContainer_input > input {
   flex: 1;
   margin-left: 20px;
   font-size: 20px;
   border: none;
}
.postContainer_imageInput {
   border: none;
   padding: 10px;
}
.postContainer_postButton {
   background-color: var(--main-color) !important;
   border: none !important;
   color: white !important;
   font-weight: 900 !important;
   text-transform: inherit !important;
   border-radius: 30px !important;
   width: 80px;
   height: 40px !important;
   margin-top: 20px !important;
   margin-left: auto !important;
}
